section {
    background-image: url(../../assets/images/error-404-page-not-found-vector-illustration-for-web-design-2D9R7T6.jpg);
    background-position: center top;
    background-size: cover;
    

}