<section class="about-component overflow-auto">
    <div class="main-about-component mt-4 mb-4">
        <div class="text-center">
            <h2 class=" text-uppercase">About</h2>
            <div class="icon-about mt-3 text-center"><i class="fa-solid fa-star fs-2 text-white "></i></div>
        </div>
    </div>
    
    
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-6">
                    <div class=" fs-5">
                        <p class=" text-white fw-bolder">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class=" fs-5">
                        <p class=" text-white fw-bolder">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!?</p>
                    </div>
                </div>
            </div>
        </div>
</section>




