
    <div class="main-portoflio-component">
        <div class="text-center mt-3">
            <h2 class=" text-uppercase">Portofolio</h2>
            <div class="icon-portoflio mt-3 text-center"><i class="fa-solid fa-star fs-2  "></i></div>
            
        </div>
    </div>
    
    
    
    <div class="container mt-3 mb-3">
        <div class="row gy-4">
            <div class="col-md-4">
                <div class="img-portofolio position-relative overflow-hidden rounded-3">
                    <div class="img-portofolio-layer position-absolute w-100 h-100 top-0 start-0">
                        <i class="fa-solid fa-plus position-absolute top-50 start-50 translate-middle text-white  fa-6x fw-bolder"></i>
                    </div>
                    <img src="assets/images/cabin.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="img-portofolio position-relative overflow-hidden rounded-3">
                    <div class="img-portofolio-layer position-absolute w-100 h-100 top-0 start-0">
                        <i class="fa-solid fa-plus position-absolute top-50 start-50 translate-middle text-white  fa-6x"></i>
                    </div>
                    <img src="assets/images/cake.png" class="img-fluid  " alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="img-portofolio position-relative overflow-hidden rounded-3">
                    <div class="img-portofolio-layer position-absolute w-100 h-100 top-0 start-0">
                        <i class="fa-solid fa-plus position-absolute top-50 start-50 translate-middle text-white  fa-6x"></i>
                    </div>
                    <img src="assets/images/circus.png" class="img-fluid " alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="img-portofolio position-relative overflow-hidden rounded-3">
                    <div class="img-portofolio-layer position-absolute w-100 h-100 top-0 start-0">
                        <i class="fa-solid fa-plus position-absolute top-50 start-50 translate-middle text-white  fa-6x"></i>
                    </div>
                    <img src="assets/images/game.png" class="img-fluid " alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="img-portofolio position-relative overflow-hidden rounded-3">
                    <div class="img-portofolio-layer position-absolute w-100 h-100 top-0 start-0">
                        <i class="fa-solid fa-plus position-absolute top-50 start-50 translate-middle text-white  fa-6x"></i>
                    </div>
                    <img src="assets/images/safe.png" class="img-fluid " alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="img-portofolio position-relative overflow-hidden rounded-3">
                    <div class="img-portofolio-layer position-absolute w-100 h-100 top-0 start-0">
                        <i class="fa-solid fa-plus position-absolute top-50 start-50 translate-middle text-white  fa-6x"></i>
                    </div>
                    <img src="assets/images/c.png" class="img-fluid  " alt="">
                </div>
            </div>
        </div>
    </div>
