<div class="main-contact-component mt-4">
    <div class="text-center">
        <h2 class=" text-uppercase">Contact Me</h2>
        <div class="icon-contact mt-3 text-center"><i class="fa-solid fa-star fs-2  "></i></div>
        
    </div>
</div>

<div class="d-flex justify-content-center align-items-center  mt-3 mb-3">
    <form class=" w-75">
        <div class="mb-3">
      
          <input type="text" class="form-control p-3 " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
       
          <input type="email" class="form-control mt-3 p-3" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
          <input type="number" class="form-control mt-3 p-3" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Phone">
       
          <input type="text" class="form-control mt-3 p-3" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Message">
       
        </div>
  
       
        <button type="submit" class="btn p-3 ">Send</button>
      </form>
    
</div>


<div class="contact-lo p-3">
  <div class="container p-5 ">
    <div class="row g-5">
      <div class="col-md-4">
        <div class="contact-location text-center">
          <h3 class="text-white fw-bold mb-3">LOCATION</h3>
          <h6 class=" text-white">2215 John Daniel Drive <br>
            Clark, MO 65243</h6>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-location text-center">
          <h3 class="text-white fw-bold mb-3">AROUND THE WEB</h3>
         <div>
         <a href=""> <i class="fa-brands fa-facebook-f"></i></a>
          <a href="">     <i class="fa-brands fa-twitter"></i></a>
          <a href=""> <i class="fa-brands fa-linkedin-in"></i> </a>
          <a href=""><i class="fa-brands fa-google"></i></a>
         </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-location text-center">
          <h3 class="text-white mb-3 fw-bold">ABOUT FREELANCER</h3>
          <h6 class="text-white">Freelance is a free to use, MIT licensed Bootstrap theme created by Route</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="overflow-auto text-center d-flex justify-content-center align-items-center py-3">
  <p class="text-white">Copyright © Your Website 2021</p>
</footer>